<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    </head>

    <body>

        <th:block th:fragment="navbar">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" >
                <div class="container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="/">Have a place!</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <th:block th:switch="${user.isLoged()}">
                            <th:block th:case="true">

                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/search/">Search </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/user/">User </a>
                                    </li>
                                </ul>

                                <span class="navbar-text" >Signed in as <a href="/user/" class="navbar-link" th:text="${user.getFullName()}">userName</a></span>

                            </th:block>
                            <th:block th:case="false">

                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/search/">Search </a>
                                    </li>
                                </ul>

                                <form class="form-inline mt-2 mt-md-0" action="/connect/facebook" method="POST">
                                    <input type="hidden" name="scope" value="user_posts">
                                    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Login with Facebook</button>
                                </form>

                            </th:block>
                        </th:block>

                    </div>

                </div>
            </nav>
        </th:block>

    </body>
</html>