<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Have a place!</title>
        <object th:include="fragments/head :: head" th:remove="tag" />
    </head>

    <body>

        <nav class="navbar navbar-toggleable-md bg-faded fixed-top">
            <div class="container">

                <a class="navbar-brand" href="/">Have a place!</a>

            </div>
        </nav>

        <div class="container">

            <div class="jumbotron text-center">
                <h1 class="display-3">Something's wrong...</h1>

                <p>
                    <a class="btn btn-primary btn-lg" href="/" role="button">Get back to main page</a>
                </p>
            </div>

        </div>

    </body>
</html>