<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Have a place!</title>
        <object th:include="fragments/head :: head" th:remove="tag" />
    </head>

    <body>

        <nav th:replace="fragments/navbar :: navbar" />

        <div class="container">

            <div class="jumbotron text-center">
                <h1 class="display-3" th:text="${local.getName()}">name</h1>

                <p class="lead text-muted" th:text="${local.getAddress()}">address</p>
            </div>

        </div>

    </body>
</html>