<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Have a place!</title>
        <object th:include="fragments/head :: head" th:remove="tag" />
    </head>

    <body>

        <th:block th:replace="fragments/navbar :: navbar" />

        <div class="container">

            <div class="jumbotron text-center">
                <h1 class="display-3">Have a place!</h1>

                <p class="lead text-muted">
                    Do you want to go out somewhere? Are you afraid that you won't have a place to sit?<br />
                    You are in a perfect place!<br />
                    Just find a place, book it and it will wait for you.
                </p>
            </div>

            <h4>All locals:</h4>
            <div class="row mb-3" th:each="local : ${locals}">
                <th:block th:replace="fragments/localInList :: localInList" />
            </div>

        </div>

    </body>
</html>