<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Have a place!</title>
        <object th:include="fragments/head :: head" th:remove="tag" />
    </head>

    <body>

        <nav th:replace="fragments/navbar :: navbar" />

        <div class="container">

            <div class="jumbotron text-center">
                <h1 class="display-3">Have a place!</h1>

                <p class="lead text-muted">
                    Do you want to go out somewhere? Are you afraid that you won't have a place to sit?<br />
                    You are in a perfect place!<br />
                    Just find a place, book it and it will wait for you.
                </p>
            </div>

            <div class="row mb-3" th:each="local : ${locals}">

                <div class="col-10">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title" th:text="${local.getName()}">name</h4>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${local.getAddress()}">address</h6>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <a type="button" th:href="${'/local/' + local.getId()}" class="btn btn-primary btn-block" style="height:100%">More informations</a>
                </div>

            </div>

        </div>

    </body>
</html>