<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Hello Facebook</title>
    </head>

    <body>
        <div th:switch="${userLoged}">

            <div th:case="true">
                <h3>Hello, <span th:text="${facebookProfile.name}">Some User</span>!</h3>
            </div>

            <div th:case="false">
                <h3>Hello, somebody!</h3>
                <form action="/connect/facebook" method="POST">
                    <input type="hidden" name="scope" value="user_posts" />
                    <div class="formInfo">
                        <p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
                    </div>
                    <p><button type="submit">Connect to Facebook</button></p>
                </form>
            </div>

        </div>
    </body>
</html>